.food {
    position: absolute;
    width: var(--food-size);
    height: var(--food-size);
    background-color: white;
    border-radius: 50%;
    z-index: 1;
    background-image: radial-gradient(circle at 30% 30%, #fff 10%, red 60%);;
    transform: translate(5%, 5%);
}