:root {
    --cell-size: 2%;
    --food-size: 1.75%;
}

body {
    background-color: #1e1e1e;
}

.gameArea {
    position: relative;
    width: 80vmin;
    height: 80vmin;
    border: 2px solid white;
    border-radius: 10px;
    margin: 10vmin auto 5vmin;
    display: flex;
    flex-wrap: wrap;
    /* grid-template-columns: repeat(100, 1fr);
    grid-template-rows: repeat(100, 1fr);
    background: #333;
    gap: 1px;   */
      background-image:
    repeating-linear-gradient(#333 0 1px, transparent 1px var(--cell-size)),
    repeating-linear-gradient(90deg, #333 0 1px, transparent 1px var(--cell-size));
    box-shadow: 0 0 10px #abbfc0;
}


.gridLines {
    position: absolute;
    width:100%;
    height:100%;
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
          background-image:
    repeating-linear-gradient(#333 0 1px, transparent 1px 2%),
    repeating-linear-gradient(90deg, #333 0 1px, transparent 1px 2%);
}

@media only screen and (max-width: 800px) {
    .gameArea {
        position: relative;
        width: 350px;
        height: 300px;
    }

    .snake {
        width: 12px;
        height: 12px;
    }
}

.food {
    position: absolute;
    width: var(--food-size);
    height: var(--food-size);
    background-color: white;
    border-radius: 50%;
    z-index: 1;
    background-image: radial-gradient(circle at 30% 30%, #fff 10%, red 60%);;
    transform: translate(5%, 5%);
}

.scoreboard {
    color: white
}